<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

    <body>
      <h1 id="basshows">basShows</h1>
      <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/shows">Home</a></h1>
        </li>
        <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
           <li class="has-dropdown">
            <a href="#">Sort By</a>
            <ul class="dropdown">
              <li class="active"><a href="/shows?order=<%= @sort_options[:date] %>">Date</a></li>
              <li class="active"><a href="/shows?order=<%= @sort_options[:band] %>">Band</a></li>
              <li class="active"><a href="/shows?order=<%= @sort_options[:venue] %>">Venue</a></li>
            </ul>
          </li>
      </ul>

      <div class="search left">
          <form action="/search" method="GET">
            <input class="searchBar" type="text" name="search" value="">
            <input class="searchBar" type="submit" value="Search!">
          </form>
        </div>
      </section>
    </nav>
    <div class="shows">
      <% @shows.each do |show| %>
        <div class="show columns small-12 medium-4 text-center panel">
          <h3 class="band_name"><a class="ticket_url" href=<%= show["ticket_url"] %>><%= show["band"] %></h3></a>
          <h4 class="venue"><%= show["venue"] %></h4>
          <p class="datetime">
            <%= show["date"] + " " + show["time"] %>
          </p>
        </div>
      <% end %>
    </div>
      <script src="/js/vendor/jquery-1.11.2.min.js"></script>
      <script src="/js/shows.js"></script>
    </body>
</html>
